{{#each sortedContacts as |contact|}}
  <li class="test-contact"><span class="test-contact-name">{{contact.name}}</span> <span class="test-contact-primary-email">{{primary-listing }}</span> <span class="test-contact-primary-phone">{{primary-listing }}</span></li>
{{/each}}

{{yield}}
